@import "bootstrap-material-design/scss/core";

.foo {
  color: #000;
}


// test bg image digest
.transparentimage {
  background-color: #fee;
  background-image: url("foo/bar/startransparent.gif");
}
