<h1>Welcome to gulp-pipeline-rails</h1>

<p class="lead"> A quick demo of included package bootstrap-material-design</p>

<h3>Floating label <i class="material-icons">face</i>
  <small>(<== should be an icon if css is included properly)</small>
</h3>

<div class="form-group">
  <label for="exampleInputEmail1" class="mdb-label-floating">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1">
  <span class="mdb-help">We'll never share your email with anyone else.</span>
</div>