<div class="container">
  <h1>Welcome to gulp-pipeline-rails</h1>

  <p class="lead"> A quick demo of included npm package bootstrap-material-design</p>

  <form>
    <legend>Material Design Form <i class="material-icons">face</i></legend>
    <div class="form-group">
      <label for="exampleInputEmail1" class="bmd-label-floating">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
      <span class="bmd-help">We'll never share your email with anyone else.</span>
    </div>
  </form>

  <div class="transparentimage">
    This is an example of a div with a transparent background image specified. The specified
    <code>background-color</code> here is pink, while the image is blue with a transparent background.
  </div>
</div>